<head>
	<link rel="stylesheet" type="text/css" href="D:/ComputerScience/PersonalProjects/MessengerApp/app/assets/stylesheets/main.css">
</head>
<nav class="navbar navbar-default mm-margin">
    <div class="container">
    	<div class="row">
        	<div class="col-md-12">
              <ul class="nav navbar-nav">
                  <li role="presentation" class="active"><a href="#">Home</a></li>
                  <li role="presentation"><a href="#">Login</a></li>
                  <li role="presentation"><a href="#">Help</a></li>
                  <li role="presentation"><a href="#">About</a></li>
              </ul>
            </div>
        	
    	</div>
    </div>
</nav>

<div class="container">    
    
      <h1>Super Messenger</h1>
      <p>Super Messenger is a powerful chat website with a very small footprint, built for people who need a simple and elegant chatroom to create meaningful relationships.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up Now!</a></p>
</div>
